.container
    width: 100%
    h4
        width: 95%
        border-bottom: groove
        padding-bottom: 5px
    .dynamic-analysis-data
        float: left
        width: 50%
        .toggle
            margin-bottom: 15px
    .decomposition-properties
        float: right
        width: 50%
    


